@font-face {
  font-family: "jiaguwen";
  src: url("a725c9fe6065c07c7bcf4ac6bdab8c83.woff2") format("woff2"),
    url("a725c9fe6065c07c7bcf4ac6bdab8c83.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
