* {
  padding: 0;
  margin: 0;
}
body {
  padding: 100px;
  background-color: #706c93;
}
.container {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  background-color: #a9d22d;
  /* transform: rotate(30deg); */
  /* transform: translate(40px, 30px); */
  /* transform: scale(0.8); */
  transform: skew(20deg);
}
